header
    background $azul
    height 150px
    font-size 0
    overflow hidden
    .center
        height 100%
        position relative
    .detalhe
        height 100%
        width 278px
        position absolute
        top 0
        right 0
        &:before
            content ''
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            background $img('bg-header.png') no-repeat center
            z-index 2
        &:after
            content ''
            position absolute
            width 2000px
            height 100%
            z-index 1
            left 100px
            background #CCFFCC
    &.header-admin
        background $azulClaro
        h1, h2
            color #fff !important
        .detalhe:after
            background $verde
    h1
        color #8DECF0
        exo 30
        display inline-block
        margin 40px 0 0
        position relative
        small
            display block
            font-weight 300
            font-size 16px
            margin-top 7px
    h2
        display inline-block
        exo 70 extralight
        color #8DECF0
        margin 0
        margin-left 15px
        transform translateY(-27px)
        +mobile()
            transform none
            margin-top 10px
    .sbc
        position absolute
        height 100%
        width 170px
        top 0
        right 285px
        background $img('sbc.png') no-repeat center
        background-size 100% auto
    &.header-home
        +above($tablet)
            height 500px
            .detalhe
                width 926px
                right -230px
                &:before
                    background-image $img('bg-header-home.png')
                &:after
                    left 400px
            h1
                margin 55px 0 25px
                font-size 50px
                small
                    display none
            h2
                display block
                exo 80 extralight
                margin-left 0
                transform none
            .sbc
                width 230px
                height 95px
                position relative
                right auto
                top auto
                margin-top 60px
    &:not(.header-admin)
        +below($tablet)
            height auto
            padding 40px 0
            .detalhe
                display none
            h1
                margin 0
            .sbc
                display block
                position relative
                height 70px
                width 100%
                background-position left center
                background-size auto 100%
                right auto
                margin-top 20px
        +mobile()
            padding 25px 0
            h1
                font-size 20px
            h2
                display block
                margin-left 0
                font-size 40px
            .sbc
                height 50px
    .logout-admin
        position absolute
        top 10px
        right 215px
        exo 14
        color #fff
        z-index 3
        a:hover
            color $azul

.logout
    margin 20px auto
    color $azulClaro
    text-align right
    p
        exo 16
        margin 0
        +mobile()
            font-size 15px
    a
        font-weight 700
        &:hover
            color $azul

.main-nav
    border 1px solid $azul
    background #00B0DC
    display flex
    a
        display block
        flex-grow 1
        flex-basis 0
        text-align center
        padding 20px 0
        exo 18 bold
        color #fff
        background #00B0DC
        transition background .3s
        text-transform uppercase
        &:hover
            background $azul
        &.active
            background $verde
            color $azul
        + a
            border-left 1px solid $azul
    +tablet()
        a
            font-size 16px
            padding 15px
    +mobile()
        display block
        a
            width 100%
            font-size 15px
            padding 10px 0
            + a
                border-left none
                border-top 1px solid $azul
