@keyframes rotation
    to
        transform rotate(359deg)

.center
    width desktop-base-width
    position relative
    margin 0 auto
    clearfix()
    +below($tablet)
        width 90%

.not-responsive
    min-width 1280px
    .center
        width desktop-base-width !important

.interna
    padding 50px 0 70px
    +tablet()
        padding 35px 0 55px
    +mobile()
        padding 25px 0 35px
    &.interna-pendencias
        padding-top 0 !important
        margin-top -20px
        +tablet()
            margin-top -15px
        +mobile()
            margin-top -10px


.main-box
    background $verdeBg
    padding 45px 75px
    max-width 900px
    margin 0 auto
    + .main-box
        margin-top 40px
    +tablet()
        padding 45px
    +mobile()
        padding 30px
        + .main-box
            margin-top 20px
    .form-divider
        width 450px
        height 1px
        margin 50px auto
        background $azulClaro
        +below($tablet)
            width 80%
        +mobile()
            margin 30px auto
    h2
        exo 20
        color $azulClaro
        display block
        margin 0 0 35px
        padding-bottom 30px
        position relative
        text-align center
        text-transform uppercase
        +mobile()
            font-size 16px
            margin-bottom 25px
            padding-bottom 20px
        &:after
            content ''
            position absolute
            bottom 0
            height 1px
            width 450px
            left 50%
            margin-left -225px
            background $azulClaro
            +below($tablet)
                width 80%
                margin-left -40%
        &:not(:first-child)
            margin-top 85px
            +mobile()
                margin-top 40px
    &.half-width
        +above($mobile)
            width calc('50% - 18px')
            float left
            + .main-box
                float right
                margin-top 0
        &.half-width-center
            margin 0 auto
            float none

form
    .row
        clearfix()
        &.row-margin + .row
            margin-top 25px
    .erro
        background rgba($azul, .1)
        padding 10px
        text-align center
        exo 13
        text-transform uppercase
        color #CD2637
        margin-bottom 8px
        line-height 1.5
    label
        width 100%
        display block
        exo 14
        color $azul
        margin-bottom 5px
        + .btn-adicionar-comprovante
            margin-left 0
    input
    select
        outline 0
        border 0
        border-radius 4px
        &:disabled
            cursor not-allowed
            background #ddd !important
            color #666 !important
    input[type=text]
    input[type=email]
    input[type=password]
    select
        background #fff
        exo 16
        color $azul
        height 40px
        padding 0 10px
        display block
        margin-bottom 5px
        +mobile()
            font-size 15px
    input[type=submit]
        display block
        cursor pointer
        background $verde
        color $azul
        exo 16
        padding 14px
        transition background .3s, color .3s
        +mobile()
            font-size 15px
        &:hover
            background $azul
            color $verde
        &:disabled
            cursor not-allowed !important
    .btn-add-row
        display inline-block
        position relative
        border-radius 4px
        exo 15
        color $azul
        padding 10px 10px 10px 40px
        border 1px solid $azulClaro
        margin-bottom 10px
        transition background .3s, color .3s
        cursor pointer
        float left
        &:hover
            background #fff
        span
            position absolute
            display block
            width 20px
            height 20px
            border 1px solid $azul
            top 50%
            transform translateY(-50%)
            left 10px
            border-radius 100%
            transition background .3s
            &:before
            &:after
                content ''
                position absolute
                background $azul
                transition background .3s
            &:before
                width 10px
                height 2px
                top 8px
                left 4px
            &:after
                height 10px
                width 2px
                left 8px
                top 4px
        &:hover
            span
                background $azul
                &:before
                &:after
                    background #fff
    .btn-adicionar-comprovante
        display inline-block
        border 1px solid $azul
        width 208px
        height 39px
        line-height 38px
        overflow hidden
        position relative
        background #fff
        border-radius 4px
        exo 15
        color $azul
        padding-left 35px
        padding-right 10px
        margin-left 5px
        margin-bottom 5px
        transition background .3s, color .3s
        cursor pointer
        float left
        &:first-child
            margin-left 0
        +mobile()
            width 100%
            display block
            margin-left 0
        span
            position absolute
            display block
            width 20px
            height 20px
            border 1px solid $azul
            top 9px
            left 9px
            border-radius 100%
            transition background .3s, opacity .3s
            &:before
            &:after
                content ''
                position absolute
                background $azul
            &:before
                width 10px
                height 2px
                top 8px
                left 4px
            &:after
                height 10px
                width 2px
                left 8px
                top 4px
        &:hover
            background $azul
            color #fff
            span
                background #fff
        &.loading
            background $verde
            font-size 0
            cursor wait
            &:before
                content 'Enviando. Aguarde...'
                font-size 15px
            &:after
                content ''
                position absolute
                display inline-block
                width 18px
                height 18px
                border 2px solid $azul
                border-right-color transparent
                top 10px
                left 10px
                border-radius 50%
                animation rotation 1s infinite linear
            span
                opacity 0
            &:hover
                background-color $verde
                color $azul
            input
                display none
        input
            position absolute
            float none !important
            width auto !important
            z-index 2
            top 0
            right 0
            opacity 0
            font-size 200px
            cursor pointer
    .files-wrapper
        display block
        width 100%
        float left
        span
            border-radius 4px
            position relative
            display block
            padding 14px 40px
            exo 12
            color $azul
            background $img('download.png') no-repeat 10px center #fff
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            &:last-child
                margin-bottom 15px
            + span
                margin-top 3px
            a.excluir
                position absolute
                width 20px
                height 20px
                background #AF2A21
                top 50%
                right 10px
                margin-top -10px
                font-size 0px
                border-radius 100%
                opacity .7
                transition opacity .3s
                font-size 0
                &:hover
                    opacity 1
                &:before
                &:after
                    content ''
                    position absolute
                    width 2px
                    height 10px
                    background #fff
                    top 5px
                    left 9px
                &:before
                    transform rotate(45deg)
                &:after
                    transform rotate(-45deg)

.status
    p
        text-align center
        color $azul
        exo 16
        &:last-child
            margin-bottom 0
        span.data
            display block
            exo 24
        +mobile()
            font-size 15px
            span.data
                font-size 18px
    h4
        text-align center
        color $azul
        exo 20
        text-transform uppercase
    .botao-verificar
        display block
        color $azul
        exo 16
        margin-top 12px
        &:hover
            text-decoration underline
    .botao-comprovante-pagamento
        display inline-block
        background $azul
        color $verde
        border-radius 5px
        exo 24 bold
        padding 35px 80px
        border 2px solid $azul
        transition background .3s, color .3s
        &:hover
            background transparent
            color $azul
        +mobile()
            width 100%
            display block
            padding 20px
            font-size 18px
    .descritivo-pontuacao p
        font-size 14px
        text-align left
        margin .5em 0
    .status-box
        background $verde
        margin 0 -75px 0
        &:last-child
            margin-bottom -45px
        text-align center
        padding 40px
        +mobile()
            padding 30px
        .botao-instrucoes
            display inline-block
            margin-top 18px
            background $azul
            color $verde
            border-radius 5px
            exo 20
            padding 15px 30px
            border 2px solid $azul
            transition background .3s, color .3s
            &:hover
                background transparent
                color $azul
            +mobile()
                width 100%
                display block
                padding 20px
                font-size 18px
        p
            display block
            width 100%
            margin 0 0 5px
        h3
            exo 22
            color $azul
            margin 0
            + p
                margin-top 5px
        +tablet()
            margin 0 -45px 0
            &:last-child
                margin-bottom -45px
        +mobile()
            margin 0 -30px 0
            &:last-child
                margin-bottom -30px
            h3
                font-size 18px

.revisao-pontuacao
    background #507293
    h2
        color #fff
        exo 16 bold
        padding-bottom 0
        &:after
            display none
    p
        font-size 14px
        color #fff
    form
        margin-top 1.5em
    textarea
        width 100%
        height 140px
        border-radius 4px
        border 0
        outline 0
        background #fff
        exo 15
        color $azul
        resize none
        padding 10px
    input[type=submit]
        display block
        width 400px
        margin 25px auto 0
        font-size 20px
        padding 20px
        +mobile()
            width 100%
            margin-top 15px


.erros-documentacao
    background rgba($azul, .1)
    padding 30px
    text-align left
    exo 16
    color #CD2637
    margin-top 20px
    line-height 1.5
    h2
        exo 18 bold
        margin-top 0
        text-transform uppercase
        +mobile()
            font-size 16px
    p
        margin 0
        + p
            margin-top 1em
    ul
        margin 5px 0 0
        list-style-type none
        padding 0
        li
            padding-left .5em
    +mobile()
        padding 20px
        font-size 15px

.voucher
    text-align center
    .main-box
        text-align left
        background #fff
        border 1px solid $azulClaro
        +above($tablet)
            padding-left 150px
            padding-right 150px
            padding-bottom 70px
        clearfix()
        img
            display block
            max-width 100%
            margin 0 auto
        .inscricao
            display block
            width 100%
            border 1px solid $azulClaro
            padding 20px
            margin 35px 0
            exo 22 bold
            color $azul
            text-align center
            line-height 22px
            span
                font-size 1.4em
            +mobile()
                margin 25px 0
                font-size 18px
                line-height 18px
        p
            exo 16
            color $azul
            margin 0
            + p
                margin-top 1em
        .col
            width 72%
            float left
            p
                exo 16
                color $azul
                margin 0
                + p
                    margin-top .6em
            &:last-child
                width 24%
                float right
            +mobile()
                width 100% !important
                float left !important
                &:last-child
                    margin-top 10px
    > p
        exo 15
        color $azul
        margin 25px 0 15px
        &.observacao
            font-size 16px
            margin 25px 0
    > a
        display inline-block
        background $azul
        color $verde
        border-radius 5px
        exo 20
        padding 15px 35px
        border 2px solid $azul
        transition background .3s, color .3s
        &:hover
            background transparent
            color $azul
        +mobile()
            width 100%
            display block
            padding 12px
            font-size 18px

@media print
    header
    footer
    .logout
    .main-nav
    .btn-carta-confirmacao
    .btn-imprimir
        display none !important
    .voucher
        > p
        > a
            display none !important
            &.observacao
                display block !important
                width 100%
                text-align left
    .main-box
        width 100% !important
        margin 0
        position relative
        top 0
        left 0

.btn-carta-confirmacao
    display block
    background $verde
    border-radius 4px
    margin-bottom 20px
    padding 25px
    text-align center
    exo 24 bold
    color $azul
    transition background .3s, color .3s
    &:hover
        color $verde
        background $azul
    +mobile()
        font-size 18px
        padding 20px

.carta-de-confirmacao
    font-family Arial, sans-serif
    font-size 14px
    padding 50px 0
    max-width 800px
    margin 0 auto
    +below(820px)
        padding 40px 20px
    > img
        display block
        width 80px
        margin 0 auto 50px
    p
        margin 1.5em 0
    *:first-child
        margin-top 0
    *:last-child
        margin-bottom 0
    .bold
        font-weight bold
    .italic
        font-style italic
    .underline
        text-decoration underline
    .vermelho
        color red
    .text-center
        text-align center
    .carta-de-confirmacao-box
        border 1px solid #000
        padding 1.2em
        + .carta-de-confirmacao-box
            margin-top 1.5em
    p a
        color blue
        text-decoration underline
    .mapa
        margin -.5em 0 2.5em
        iframe
            width 100%
            height 400px
        img
            display none
    .btn-imprimir
        margin-top 4em
        a
            display inline-block
            border-radius 4px
            font-size 18px
            padding 20px 40px
            background $azul
            color $verde
            exo 24
            transition background .3s, color .3s
            &:hover
                color $azul
                background $verde

@media print
    .carta-de-confirmacao
        .mapa
            iframe
                display none
            img
                display block
                width 100%
                margin 0
