desktop-base-width     = 1200px
rupture.desktop-cutoff = $tablet = 1280px
rupture.mobile-cutoff  = $mobile = 768px
rupture.anti-overlap   = -1px

$azul      = #1A345D
$azulClaro = #00B0DC
$verde     = #B6DEC7
$verdeBg   = #E4F2ED

@import url('https://fonts.googleapis.com/css?family=Exo+2:100,300,400,700')

exo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Exo 2', 'Helvetica', 'Arial', sans-serif
    font-weight 400
    font-style $style
    if $weight == extralight
        font-weight 100
    if $weight == light
        font-weight 300
    if $weight == bold
        font-weight 700
