.main-admin
    padding 25px 0 100px
    .btn-solicitacao-recurso
        display inline-block
        background $azul
        border-radius 4px
        padding 15px 35px
        exo 14.5 bold
        color #fff
        letter-spacing .5px
        margin-bottom 25px
        &.active
            color $verde
    h2
        exo 18 bold
        color $azul
        margin-top 0
        letter-spacing .5px
        text-transform uppercase
        display inline-block
        border-bottom 1px solid $verde
        padding-bottom 5px
    .total-inscricoes-enviadas
        background #DFF0EA
        border-radius 4px
        padding 10px 15px
        margin-bottom 20px
        text-align right
        exo 14
        color $azul
        strong
            exo 16 bold
    .form-filtro
    .form-excecao
        background $verdeBg
        border-radius 4px
        margin-bottom 25px
        padding 15px
        input
            display inline-block
            vertical-align middle
            margin-bottom 0 !important
            height 40px !important
            &[type=text]
                width 180px
                font-size 14px
            &[type=submit]
                padding 0 14px
                font-size 15px
    .form-excecao
        max-width 450px
        p
            margin-top 0
            exo 15
            color $azul
    nav
        display block
        border-bottom 2px solid $verde
        padding-bottom 20px
        margin-bottom 45px
        font-size 0
        a
            position relative
            display inline-block
            exo 14.5 bold
            color $azul
            margin-right 24px
            &.active
                color $azulClaro
            &:after
                content ''
                position absolute
                top 2px
                height 14px
                width 1px
                background rgba($azul, .5)
                right -11px
                color $azul
            &:last-child:after
            &:nth-child(6):after
                display none
    .table-listagem
        width 100%
        border-spacing 1px
        th
            text-align center
            exo 15 normal italic
            padding 8px 0
            color $azul
        tr
            &.table-link
                cursor pointer
                &:hover
                    td
                        background #E3F2ED
            td
                border 1px solid $azulClaro
                padding 12px
                border-radius 4px
                exo 16
                color $azul
                transition background .3s
                text-align center
                &:first-child
                    text-align left
                &.data
                    width 200px
                &.inscricao
                    width 100px
                &.dados
                    width 150px
                &.table-btn
                    width 200px
                    border 0
                    background $verde !important
                    text-align center
                    &.table-btn-excluir
                        background #fec1c2 !important
                        color #700006 !important
                &.input
                    padding 0
                    width 560px
                    background #ddd
                    input
                        min-height 44px
                        height 100%
                        width 100%
                        font-size 13px
                        margin 0
                        border-radius 0
                        background transparent
        .table-btn-recurso
            width 230px !important
            cursor pointer
            &:last-child
                background $azulClaro !important
                color #fff
    .pagination
        padding 0
        display block
        margin-top 45px
        list-style none
        li
            display inline-block
            padding 5px
            exo 15
            color $azul
            margin-right 8px
            &.disabled
                display none
            &.active
                border 2px solid $verde
                font-weight 700
                padding 5px 10px
    .barra-status
        display block
        background lighten($azulClaro, 25)
        padding 15px 20px
        margin -32px 0 32px
        exo 16 bold
        color $azul
        &.valido
            background $verde
        &.invalido
            background #DBA127
    .barra-nome-pontos
        display table
        background #E3F2ED
        width 100%
        margin-bottom 32px
        > div
            display table-cell
            padding 15px 20px
        .nome
            exo 16
            color $azul
            strong
                text-transform uppercase
                font-weight 700
            span
                margin 0 10px
        .pontos
            width 300px
            background $azulClaro
            exo 16
            color #fff
            span
                exo 26 bold
                line-height 16px
    .tabs
        font-size 0
        a
            position relative
            display inline-block
            border 1px solid $verde
            exo 16
            color $azul
            padding 12px 20px
            transition background .3s
            + a
                margin-left -1px
            &.active
                border-color #E3F2ED
                background #E3F2ED !important
                z-index -1
            &:hover
                background rgba($verde, .2)
    .secao
        background #E3F2ED
        padding 50px
    .table-campos
        width 100%
        &.title-small
            td
                padding 5px !important
            td:first-child
                width 33.333%
        td
            padding 10px 0
            vertical-align top
            line-height 1.3
            &:first-child
                width 50%
                exo 15 bold
                text-align right
                padding-right 20px
                color $azulClaro
                line-height 16px
            &:last-child
                exo 16
                color $azul
            .divider
                width 450px
                height 1px
                margin 10px auto
                background $azulClaro
    .comprovante-row
        + .comprovante-row
            margin-top 5px
    .btn-admin-comprovante
        display inline-block
        border 1px solid $azulClaro
        exo 14 bold
        color $azulClaro
        background #fff
        border-radius 4px
        padding 2px 6px
        margin-left 5px
        transition background .3s
        &.--valido
            background transparent
        &.--invalido
            background #DBA127
            color #fff
        &.--solicitado
            background $azulClaro
            color #fff
        &.--substituido
            background $verde
        &.--nao-avaliado
            background $azul
    .admin-comprovantes
        .comprovante-substituicao
            margin-bottom 50px
            p
                exo 16
                color $azul
                margin 0
                border 1px solid $azulClaro
                padding 12px
                + p
                    margin-top 5px
                &.solicitacao
                    background #E3F2ED
        h1
            exo 24
            color $azul
            margin 10px 0 30px
            text-align center
        .admin-comprovantes-arquivos
            width 90%
            margin 0 auto
            *
                margin-top 10px
            object
                width 100%
                height 90vh
            a
                display block
                img
                    display block
                    max-width 100%
                    margin 0 auto
        .admin-comprovantes-botoes
            text-align center
            font-size 0
            margin-top 40px
            a
                width 300px
                display inline-block
                border 1px solid $azulClaro
                border-radius 4px
                exo 20
                color $azul
                text-align center
                padding 10px 0
                margin 0 5px
                transition background .3s
                &:hover
                &.active
                    background $verde
                &.--invalido:hover
                    background #FFCE6A
        .form-substituicao
            width 700px
            margin 40px auto 0
            text-align center
            color $azul
            h3
                exo 16 bold
                margin 0 0 1em
            p
                exo 14 normal italic
                span
                    exo 15
            textarea
                width 100%
                height 200px
                display block
                border 1px solid $azulClaro
                padding 10px
                exo 15
                color $azul
                resize none
                border-radius 4px
                outline 0
            input[type=submit]
                display inline-block
                margin-top 15px
                border 1px solid $azulClaro
                border-radius 4px
                width 300px
                exo 20
                color $azul
                cursor pointer
                transition background .3s
                background #fff
                padding 10px 0
                height auto
                &:hover
                    background $verde
    .btn-reavaliar
        display block
        text-align center
        margin-top 40px
        a
            exo 16
            color $azul
            text-align center
            display inline-block
            padding 15px 35px
            border 1px solid $azulClaro
            border-radius 4px
            transition background .3s
            &:hover
            &.active
                background lighten($azulClaro, 25)
        + .admin-inscricao-botoes
            margin-top 20px
    .admin-inscricao-botoes
        text-align center
        font-size 0
        margin-top 40px
        a
        div
        input
            width 350px
            display inline-block
            border 1px solid $azulClaro
            border-radius 4px
            exo 20
            color $azul !important
            text-align center
            padding 20px 0
            margin 0 5px
            transition background .3s
            &.validar:hover
                background $verde
            &.invalidar:hover
                background #FFCE6A
            &.solicitar-substituicoes:hover
            &.secundario:hover
                background lighten($azulClaro, 25)
            &.disabled
                opacity .35
                background #ddd !important
                border-color #aaa
                cursor not-allowed
            &.principal
                background $verde
                border 1px solid $verde
    .box-solicitacao-revisao
        width 100%
        background rgba(#0EADD9, .3)
        padding 20px
        display table
        margin-bottom 32px
        h3
            display table-cell
            exo 16 bold
            color $azul
            margin 0
            white-space nowrap
            width 190px
            span
                font-weight 400
                display block
                font-size 13px
                font-style italic
                margin-top 5px
            a
                display inline-block
                margin-top 20px
                background $azul
                color $verde
                border-radius 4px
                padding 12px 16px
                transition color .3s
                &:hover
                    color #fff
        p
            display table-cell
            margin 0
            exo 16
            color $azul
            padding-left 35px
.warning
    background #fff3cd
    border 1px solid darken(#fff3cd, 10)
    color #856404
    border-radius 4px
    padding 15px
    exo 14
    text-transform uppercase
.warning-expirado
    background #FEC1C2
    border 1px solid darken(#FEC1C2, 10)
    color #700006
    exo 16 bold
    text-align center
.success
    background lighten($verde, 15)
    border 1px solid darken($verde, 10)
    color #36a982
    border-radius 4px
    padding 20px
    exo 16
    text-transform uppercase
    margin-bottom 30px
    text-align center

.main-admin .recursos-show
    text-align center
    color $azul
    exo 15
    h3
        font-weight normal
        margin-bottom 2.5em
    p strong
        font-size 16px
    form
        background $verdeBg
        padding 30px
        margin 40px auto 0
        border-radius 4px
        max-width 450px
        text-align left
        &.form-resposta-geral
            max-width 800px
            background 0
            padding 0
        input[type=submit]
            margin-top 20px
            font-size 20px
            padding 20px 30px
        textarea
            width 100%
            height 240px
            display block
            border 1px solid $azulClaro
            padding 10px
            exo 15
            color $azul
            resize none
            border-radius 4px
            outline 0
    .recurso-alteracao
        clearfix()
        + .recurso-alteracao
            margin-top 15px
        label
            float left
            width 100%
            margin-bottom 4px
        > a
            display inline-block
            float left
            margin 6px 0
            exo 16
            border 1px solid $azul
            border-radius 3px
            background $verde
            padding 12px 20px
        .btn-adicionar-comprovante
            clear left
            margin-left 0

.main-admin .divider
    border 1px solid $verde
    margin 50px 0

.main-admin .admin-liberacoes-inscricao
    text-align center
    > p
        exo 16
        color $azul
        margin 0
    form
        text-align center
        width 650px
        margin 30px auto
        p
            color $azulClaro
            exo 15 bold
            margin 0 0 10px
        textarea
            width 100%
            border 1px solid $azulClaro
            padding 10px
            background #fff
            exo 14
            color $azul
            outline 0
            resize none
            height 120px
        input[type=submit]
            display inline-block
            margin-top 10px
            border 1px solid $azulClaro
            padding 10px 40px
            background #fff
            transition background .3s, color .3s
            &:hover
                color #fff
                background $azul
    .box-liberacoes
        border 1px solid $azulClaro
        background $verde
        width 900px
        margin 0 auto
        padding 25px
        color $azul
        h3
            exo 18 bold
            margin 0 0 1.5em
        .row
            display flex
            p
                exo 16
                text-align left
                margin 0
                small
                    font-size 12px
                &:first-child
                    flex 0 0 300px
            + .row
                margin-top 20px
                padding-top 20px
                border-top 1px solid $azulClaro

.main-admin-liberacoes
    background $verdeBg
    padding 50px
    color $azul
    h2
        display block
        text-align center
        exo 22 bold
        margin 0 0 1.5em
        border 0
    .row
        display flex
        .left
            flex 0 0 320px
            margin-right 30px
        .right
            flex 1
        p
            exo 16
            text-align left
            margin 0
            width 100%
            + p
                margin-top 1em
                padding-top 1em
                border-top 1px solid rgba($azul, .08)
            small
                font-size 12px
            &:first-child
                flex 0 0 300px
        + .row
            margin-top 35px
            padding-top 35px
            border-top 1px solid $azulClaro
        &:first-child
            padding-top 35px
            border-top 1px solid $azulClaro

.main-admin .admin-liberacoes-inscricao
    text-align center
    > p
        exo 16
        color $azul
        margin 0
    form
        text-align center
        width 650px
        margin 30px auto
        p
            color $azulClaro
            exo 15 bold
            margin 0 0 10px
        textarea
            width 100%
            border 1px solid $azulClaro
            padding 10px
            background #fff
            exo 14
            color $azul
            outline 0
            resize none
            height 120px
        input[type=submit]
            display inline-block
            margin-top 10px
            border 1px solid $azulClaro
            padding 10px 40px
            background #fff
            transition background .3s, color .3s
            &:hover
                color #fff
                background $azul
    .box-liberacoes
        border 1px solid $azulClaro
        background $verde
        width 900px
        margin 0 auto
        padding 25px
        color $azul
        h3
            exo 18 bold
            margin 0 0 1.5em
        .row
            display flex
            p
                exo 16
                text-align left
                margin 0
                small
                    font-size 12px
                &:first-child
                    flex 0 0 300px
            + .row
                margin-top 20px
                padding-top 20px
                border-top 1px solid $azulClaro

.main-admin-resumo
    background $verdeBg
    padding 50px
    color $azul
    width 600px
    margin 0 auto
    h2
        display block
        text-align center
        exo 22 bold
        margin 0 0 1.5em
        padding-bottom 1em
        border-bottom 1px solid $azulClaro
    .row
        display flex
        exo 16
        color $azul
        .titulo
            flex 0 0 50%
            text-align right
            font-weight bold
            text-transform uppercase
        .valor
            flex 0 0 50%
            margin-left 30px
        + .row
            padding-top 10px
            margin-top 10px
            border-top 1px solid rgba($azul, .08)
