.dados-pessoais
    .row
        &:nth-child(2n) p:first-child
            margin-top 0
        p
            exo 16
            color $azul
            +mobile()
                font-size 15px
        .legenda
            display block
            width 100%
            float left
            p
                exo 13 normal italic
                margin 0
                line-height 1.3
                color $azul
                + p
                    margin-top 3px
        input
        select
            width 100%
            float left
        input[name=CPF]
        input[name=CEP]
        input[name=telefone_residencial]
        input[name=telefone_comercial]
        input[name=telefone_celular]
        input[name=nascimento]
        select[name=sexo]
        select[name=lateralidade]
            width calc('50% - 2.5px')
            +mobile()
                width 100%
        +above($mobile)
            input[name=telefone_comercial]
            input[name=nascimento]
            select[name=lateralidade]
                margin-left 5px
            input[name=numero]
            input[name=uf]
                width 100px
            input[name=complemento]
            input[name=bairro]
                width calc('50% - 55px')
                margin-left 5px
            input[name=cidade]
                width calc('100% - 105px')
                margin-right 5px
            select[name=socio_amb_select]
            input[name^=crm]
                width 165px
    input[type=submit]
        +above($mobile)
            display block
            width 400px
            margin 25px auto 0
            font-size 20px
            padding 20px
        +mobile()
            width 100%
            margin-top 15px
    .observacoes
        exo 15 bold
        color $azul
        line-height 1.3
        font-style italic
        text-align center
        margin-top 25px
    .erro-validacao
        border 2px solid #CD2637
