.documentacao-nav
    display flex
    margin-top 60px
    a
        display block
        flex-grow 1
        flex-basis 0
        text-align center
        position relative
        border 2px solid $verde
        border-right 0
        padding 30px 20px 15px
        +above($mobile)
            padding-bottom 45px
        transition background .3s
        &:last-child
            border-right 2px solid $verde
        span
            position absolute
            width 37px
            height 37px
            left 50%
            top -18px
            transform translateX(-50%)
            background $verde
            border-radius 100%
            text-align center
            exo 20 bold
            color $azul
            padding-top 6px
        h3
            margin 0 0 12px
            text-transform uppercase
            exo 16
            color #00B0DC
        p
            margin 0
            color $azulClaro
            exo 14 bold
            +above($mobile)
                white-space nowrap
                position absolute
                bottom 15px
                left 50%
                transform translateX(-50%)
        &:hover
            background #E4F2ED
        &.active
            background #E4F2ED
            h3
                font-weight 700
        &.disabled
            background #fff
            pointer-events none
            cursor default
    &.pendencias-nav
        a.active
            border 2px solid #0EADD9
            span
                background #0EADD9
            + a
                border-left 0
    +mobile()
        display block
        margin-top 40px
        a
            width 100%
            border 2px solid $verde
            padding-bottom 25px
            + a
                border-top 0
            h3
                font-size 15px
                margin-bottom 6px
            p
                font-size 13px
            &:last-child
                padding-bottom 15px

.documentacao
    .descricao
        exo 16
        text-align center
        color $azul
        +mobile()
            font-size 15px
    h4
        exo 16 bold
        color $azul
        margin-top 3em
        &.divider
            border-top 1px solid $azul
            border-bottom 1px solid $azul
            margin-top 2em
            padding 1em 0
            + h4
                margin-top 1em
        +mobile()
            font-size 15px
    p + h4
        border-top 1px solid $azul
        padding-top 2em
        margin-top 2em
    .atencao
        exo 14 bold
        text-align center
        color $azul
    p + .row
        margin-top 40px
        +mobile()
            margin-top 30px
    select[name=graduacao]
        width 100%
    select[name^=ano_]
        width 185px
        float left
    input[name=uf]
        width 100px
        float left
        margin-left 5px
    .limpar-comprovante-especializacao-wrapper
        display block
        width 100%
        float left
        margin-bottom 3px
        a
            display inline-block
            background #cd2637
            color #fff
            padding 8px
            border-radius 4px
            exo 12
            opacity .8
            &:hover
                opacity 1
    .submit-group
        clearfix()
        margin-top 30px
        +mobile()
            margin-top 20px
        input
            +above($mobile)
                display block
                width calc('50% - 2.5px')
                float left
                exo 20
                padding 20px
                + input
                    margin-left 5px
            +mobile()
                width 100%
                + input
                    margin-top 5px
            &.salvo-envio
                background $azulClaro
                &:hover
                    color #fff

.box-envio-documentacao
    background $azulClaro
    text-align center
    h2
        color #fff
        &:after
            background #fff
    p
        exo 16
        color $azul
    .btn-enviar-documentacao
        display inline-block
        background $azul
        color #fff
        border-radius 5px
        exo 20 bold
        padding 35px 80px
        margin-top 20px
        border 2px solid $azul
        transition background .3s, color .3s
        &:hover
            background transparent
            color $azul
    +mobile()
        p
            font-size 14px
        .btn-enviar-documentacao
            width 100%
            display block
            padding 20px
            font-size 16px

.documentacao
    .bloco-pendencias
        .pendencias-solicitacao
            margin-bottom 10px
            .solicitacao
                border 1px solid $azulClaro
                exo 15
                color $azul
                padding 12px
                +mobile()
                    font-size 14px
            textarea
                margin-top 5px
                border 1px solid $azulClaro
                padding 12px
                background #fff
                outline 0
                resize none
                height 80px
                exo 15
                color $azul
                display block
                width 100%
                +mobile()
                    font-size 14px
            p
                exo 16
                color $azul
                margin 0 0 12px
        .pendencias-arquivos-anteriores
            background rgba($azulClaro, .2)
            padding 12px
            exo 14
            color $azul
            border-radius 4px
            margin-bottom 10px
            span
                display block
                color $azulClaro
                font-size 12px
                margin-bottom 8px
            a
                display block
                position relative
                padding 14px 40px
                border-radius 4px
                exo 12
                color $azul
                background $img('download.png') no-repeat 10px center rgba($azulClaro, .35)
                overflow hidden
                white-space nowrap
                text-overflow ellipsis
                + a
                    margin-top 3px
        + .bloco-pendencias
            margin-top 40px
            padding-top 50px
            border-top 1px solid $azulClaro
            +mobile()
                margin-top 25px
                padding-top 35px

.row-outra
    display flex
    align-items center
    span
        exo 15
        color $azul
        margin-right 10px
    input
        flex 1
    +mobile()
        display block
        input
            width 100%

.flex-uf-instituicao
    display flex
    align-items center
    width 100%
    select
        &:first-child
            flex-shrink 0
            width 65px
        &:last-child
            flex 1
            max-width calc('100% - 70px')
            margin-left 5px
