.home
    padding 75px 0 125px
    color $azul
    text-align center
    p
        exo 16
        margin 2em 0 3em
    h4
        exo 24
        text-transform uppercase
        margin 0
    .box-links
        background $verdeBg
        padding 50px 125px
        font-size 0
        a
            vertical-align top
            display inline-block
            width calc('50% - 15px')
            background $verde
            color $azul
            exo 16 bold
            text-transform uppercase
            height 80px
            line-height 80px
            border-radius 5px
            transition background .3s, color .3s
            + a
                margin-left 30px
                font-size 24px
            &:hover
                background $azul
                color $verde
    +tablet()
        padding 45px 0 85px
        .box-links
            padding 50px
            a
                display block
                width 100%
                height auto
                line-height 1
                padding 40px
                + a
                    margin 20px 0 0
    +mobile()
        padding 25px 0 35px
        p
            font-size 14px
            margin 1em 0 2em
        h4
            font-size 18px
        .box-links
            padding 30px
            a
                display block
                width 100%
                height auto
                line-height 1
                padding 20px
                font-size 14px
                + a
                    margin 10px 0 0
                    font-size 20px
