.pag-informacoes
    text-align center
    p
        display block
        exo 16
        color $azul
        &:first-child
            margin-top 0
        &:last-child
            margin-bottom 0
        +mobile()
            font-size 15px
    .resultado-box
        background $verde
        margin 30px -75px -45px
        text-align center
        padding 25px 40px
        +tablet()
            margin 30px -45px -45px
        +mobile()
            margin 20px -30px -30px
            padding 25px
    .btn-download
        display inline-block
        padding 16px 65px 16px 20px
        border 1px solid rgba($azul, .5)
        background #fff
        border-radius 4px
        margin-bottom 6px
        exo 16
        color $azul
        position relative
        transition border .3s, box-shadow .3s
        span
            display inline-block
            margin 0 4px
        &:hover
            border 1px solid $azul
            box-shadow 0 1px 2px rgba($azul, .3)
        &:after
            content ''
            position absolute
            width 23px
            height 100%
            background $img('download.png') no-repeat center
            right 20px
            top 0
        +mobile()
            padding 12px 50px 12px 16px
            font-size 14px
            &:after
                right 10px
    .btn-cadernos
        display inline-block
        padding 16px 55px
        border 1px solid rgba($azul, .5)
        background $verde
        border-radius 4px
        margin-bottom 6px
        exo 16
        color $azul
        position relative
        transition border .3s, box-shadow .3s
        span
            display inline-block
            margin 0 4px
        &:hover
            border 1px solid $azul
            box-shadow 0 1px 2px rgba($azul, .3)
        +mobile()
            padding 12px 20px
            font-size 14px
    .form-protocolo
        margin-top 30px
        > label
            display block
            text-align left
            exo 15
            margin-bottom 12px
            > select
            > input[type=number]
                display block
                width 100px
                vertical-align middle
                margin-top 5px
                exo 16
                padding 0 10px
                height 40px
                color $azul
                +mobile()
                    font-size 15px
        textarea
            width 100%
            display block
            border-radius 4px
            border 0
            outline 0
            background #fff
            exo 15
            color $azul
            resize none
            padding 10px
            height 180px
            +placeholder()
                color $azul
        .bibliografia
            display flex
            margin-top 25px
            > div
                flex 1
                margin-left 20px
                text-align left
            label
                position relative
                padding-left 20px
                font-size 15px
                margin-bottom 10px
                cursor pointer
                input
                    position absolute
                    left 0
                    top 2px
            input[type=text]
                display block
                width calc('100% - 20px')
                margin-left auto
            +mobile()
                display block
                text-align left
                > div
                    margin-left 0
        input[type=submit]
            margin 25px auto 0
            +above($mobile)
                width 400px
                font-size 20px
                padding 20px
            +mobile()
                margin-top 15px
    .recursos-lista
        .recurso
            display flex
            flex-wrap wrap
            margin-top 40px
            padding-top 40px
            position relative
            &:before
                content ''
                position absolute
                top 0
                height 1px
                width 450px
                left 50%
                margin-left -225px
                background $azulClaro
                +below($tablet)
                    width 80%
                    margin-left -40%
            +below($tablet)
                display block
            +mobile()
                margin-top 25px
                padding-top 25px
            .recurso-info
                width 40%
                padding-right 30px
                text-align left
                p
                    margin .5em 0
                    &:first-child
                        margin-top 0
                    &:last-child
                        margin-bottom 0
                a
                    display block
                    padding 10px
                    border 1px solid rgba($azul, .5)
                    background #fff
                    border-radius 4px
                    margin-bottom 6px
                    exo 16
                    color $azul
                    position relative
                    transition border .3s, box-shadow .3s
                    text-align center
                    max-width 300px
                    +mobile()
                        font-size 14px
                    &:hover
                        border 1px solid $azul
                        box-shadow 0 1px 2px rgba($azul, .3)
                +below($tablet)
                    width 100%
                    padding 0
                    margin-bottom 10px
            .recurso-envio
                width 60%
                text-align left
                p.enviado
                    exo 22
                    margin 0
                    line-height 1.2
                    +mobile()
                        font-size 16px
                +below($tablet)
                    width 100%
            .form-recurso-envio
                clearfix()
                .col
                    width 210px
                    float left
                    + .col
                        margin-left 5px
                    +below($tablet)
                        width 100%
                        + .col
                            margin 5px 0 0
                input[type=submit]
                    float left
                    clear both
                    margin-top 5px
                    +above($mobile)
                        font-size 20px
                        padding 10px 20px
                .files-wrapper span
                    margin-bottom 0 !important
    .recursos-resultados-title
        margin 35px 0 0 !important
        padding-top 30px
        +mobile()
            margin-top 30px !important
            padding-top 20px
        &:after
            top 0
