.login
    padding 75px 0 125px
    .login-texto
        color $azul
        text-align center
        margin-bottom 40px
        exo 15
        p
            max-width 600px
            margin 0 auto
            + p
                margin-top 1em
        h4
            font-weight 700
            max-width 600px
            margin 1em auto 0
        +mobile()
            font-size 14px
            margin-bottom 25px
    form
        max-width 400px
        margin 0 auto
        input
            width 100%
        .esqueci
            display block
            text-align right
            exo 12 normal italic
            color $azul
            opacity .7
            margin 16px 0
            &:hover
                opacity 1
    .enviado
        text-align center
        exo 16
        color $azul
        margin-bottom 0
        text-transform uppercase
    +tablet()
        padding 45px 0 85px
    +mobile()
        padding 25px 0 35px
        form .esqueci
            margin-bottom 0
        .enviado
            font-size 15px
