.sobre-a-prova
    .downloads
        a
            display block
            width 100%
            padding 16px 45px 16px 20px
            border 1px solid rgba($azul, .5)
            background #fff
            border-radius 4px
            margin-bottom 6px
            exo 16
            color $azul
            position relative
            transition border .3s, box-shadow .3s
            span
                display inline-block
                margin 0 4px
            &:hover
                border 1px solid $azul
                box-shadow 0 1px 2px rgba($azul, .3)
            &:after
                content ''
                position absolute
                width 23px
                height 100%
                background $img('download.png') no-repeat center
                right 10px
                top 0
            &:first-child
                margin-bottom 30px
            &:last-child
                margin-bottom 0
        +mobile()
            a
                padding 12px 45px 12px 16px
                font-size 14px
                &:first-child
                    margin-bottom 20px
    .informacoes-link
        text-align center
        p
            display block
            exo 16
            color $azul
            margin 0
            &.pontos
                font-size 20px
            +mobile()
                font-size 15px
                &.pontos
                    font-size 17px
        a
            display inline-block
            margin 20px 0
            background $azulClaro
            border-radius 4px
            exo 20
            color #fff
            transition background .3s
            padding 22px 28px
            &:last-child
                margin-bottom 0
            &:hover
                background $azul
            +mobile()
                font-size 17px
                padding 15px 20px
    .informacoes
        p
            display block
            width 100%
            margin 0
            clearfix()
            color $azul
            + p
                margin-top 5px
            span
                display block
                a.whatsapp
                    padding-left 20px
                    background $img('icone-whatsapp.png') no-repeat left center
            span:first-child
                width 72px
                float left
                exo 12 bold
                padding-top 3px
            span:last-child
                width calc('100% - 72px')
                exo 16
                float left
            a:hover
                text-decoration underline
            +mobile()
                span:first-child
                    padding-top 1px
                span:last-child
                    font-size 14px
    .recurso
        text-align center
        .btn-modelo
            display inline-block
            position relative
            border 1px solid $azul
            transition background .3s, color .3s
            color $azul
            exo 20
            border-radius 4px
            padding 25px
            padding-right 60px
            &:after
                content ''
                position absolute
                width 23px
                height 100%
                right 25px
                top 0
                background $img('download.png') no-repeat center
            &:hover
                background #fff
            +mobile()
                font-size 16px
                padding 15px
                padding-right 50px
                text-align left
                &:after
                    right 15px
        p
            exo 14
            color $azul
            &.dados-deposito
                exo 16 bold
                color #507293
                span
                    color $azul
                +mobile()
                    font-size 15px
        .btn-adicionar-comprovante
            display inline-block
            float none
            margin 0
        input[type=submit]
            display inline-block
            background $azul
            color $verde
            border-radius 5px
            exo 20 bold
            padding 25px 80px
            margin-top 20px
            border 2px solid $azul
            transition background .3s, color .3s
            &:hover
                background transparent
                color $azul
            +mobile()
                width 100%
                display block
                padding 20px
                font-size 16px
